* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  box-sizing: border-box; 
}

html,
body {
  font-family: 'Roboto', sans-serif;  
  font-size: 14px;
  /* color: #212121; */
  /* background-color: #f1f3f6; */
  /* min-width: 980px;  */
}

a,
li {
  display: inline-block;
}

li {
  list-style: none;
}

a,
img {
  text-decoration: none;
  color: inherit;
  border: none;
  outline: none;
}

